<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.marathon.manage.mapper.SysDeptInfoMapper" >
  <resultMap id="BaseResultMap" type="com.marathon.manage.pojo.SysDeptInfo" >
    <id column="department_id" property="departmentId" jdbcType="VARCHAR" />
    <result column="department_name" property="departmentName" jdbcType="VARCHAR" />
    <result column="parent_dep_id" property="parentDepId" jdbcType="VARCHAR" />
    <result column="department_update_date" property="departmentUpdateDate" jdbcType="TIMESTAMP" />
    <result column="dept_order" property="deptOrder" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    department_id, department_name, parent_dep_id, department_update_date, dept_order
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_department
    where department_id = #{departmentId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_department
    where department_id = #{departmentId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.marathon.manage.pojo.SysDeptInfo" >
    insert into sys_department (department_id, department_name, parent_dep_id, 
      department_update_date, dept_order)
    values (#{departmentId,jdbcType=VARCHAR}, #{departmentName,jdbcType=VARCHAR}, #{parentDepId,jdbcType=VARCHAR}, 
      #{departmentUpdateDate,jdbcType=TIMESTAMP}, #{deptOrder,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.marathon.manage.pojo.SysDeptInfo" >
    insert into sys_department
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="departmentId != null" >
        department_id,
      </if>
      <if test="departmentName != null" >
        department_name,
      </if>
      <if test="parentDepId != null" >
        parent_dep_id,
      </if>
      <if test="departmentUpdateDate != null" >
        department_update_date,
      </if>
      <if test="deptOrder != null" >
        dept_order,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="departmentId != null" >
        #{departmentId,jdbcType=VARCHAR},
      </if>
      <if test="departmentName != null" >
        #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="parentDepId != null" >
        #{parentDepId,jdbcType=VARCHAR},
      </if>
      <if test="departmentUpdateDate != null" >
        #{departmentUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deptOrder != null" >
        #{deptOrder,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.marathon.manage.pojo.SysDeptInfo" >
    update sys_department
    <set >
      <if test="departmentName != null" >
        department_name = #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="parentDepId != null" >
        parent_dep_id = #{parentDepId,jdbcType=VARCHAR},
      </if>
      <if test="departmentUpdateDate != null" >
        department_update_date = #{departmentUpdateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deptOrder != null" >
        dept_order = #{deptOrder,jdbcType=INTEGER},
      </if>
    </set>
    where department_id = #{departmentId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.marathon.manage.pojo.SysDeptInfo" >
    update sys_department
    set department_name = #{departmentName,jdbcType=VARCHAR},
      parent_dep_id = #{parentDepId,jdbcType=VARCHAR},
      department_update_date = #{departmentUpdateDate,jdbcType=TIMESTAMP},
      dept_order = #{deptOrder,jdbcType=INTEGER}
    where department_id = #{departmentId,jdbcType=VARCHAR}
  </update>

  <select id="queryTree" resultType="com.marathon.manage.pojo.DeptUserTreeVO">
    SELECT
      idi.department_id id,
      idi.parent_dep_id pId,
      idi.department_name 'name',
      "0" type,
      "true" isParent
    FROM
	  sys_department idi
    UNION ALL
	SELECT
		isi.user_id id,
		isi.dept_id pId,
		isi.user_name 'name',
		"1" type,
		"false" isParent
	FROM
		sys_t_user isi
  </select>
</mapper>